@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@500&display=swap");

.overpass-mono {
  font-family: "Overpass Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.box {
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}